*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 3rem;
    transition: .2s linear;
}

.burger:hover{
    cursor: pointer;
}

aside{
    position: absolute;
    top: 0%;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: black;
    transition: .2s linear;
}

i.fas{
    display: none;
}

i.show{
    display: block;
}
aside.show{
    left: 0;
}
.wrapper{
    margin: 10px 80px;
    transition: .2s linear;
}
.wrapper.show{
    padding-left: 300px;
}